name: xref-check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  xref-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Run xref check
        run: |
          python -m fm xref check

